.lea
{
    float: left;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset
{
    margin-top: 40%;
}
.login-wrap{
    height: 100vh;
}
.login-html{
    margin-top: 5%;
    position:absolute;
    padding:80px 70px 50px 70px;
    border-radius: 8px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;

}
.check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.register-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-form{
    position:relative;
    display: flex;
    justify-content: center;
    top: 15%;
    z-index: 99999;
}
.register-form{
    position:relative;
    top: 13%;
    display: flex;
    justify-content: center;
    z-index: 99999;
}
.sign{position:absolute;}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group {
    width:100%;
    color: black;
    display:block;
}
.register-form .group .button,
.login-form .group .button{
    width:100%;
    color: white;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background: #d9f2f7;
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color: black;
    font-size:12px;
}
.login-form .group .button{
    background: #1959c0;
}
.login-form .group .button:hover
{
    background-color: teal;
}

/*Register */
.register-form .group{
    margin-bottom:8px;
}
.register-form .group .label,
.register-form .group .input
{
    width:100%;
    color: black;
    display:block;
}
.register-form .group .input,
.register-form .group .button{
    border:none;
    padding:10px 20px;
    border-radius:25px;
    background: #ceedf4;
}
.register-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.register-form .group .label{
    color: #1d1c1c;
    font-size:12px;
}
.register-form .group .button{
    background: #1959c0;
}
.register-form .group .button:hover
{
    background-color: #d1cece;
}
.hr{
    height:2px;
    margin:40px 0 50px 0;
    background: rgba(247, 244, 244, 0.2);
}
.foot-lnk{
    text-align:center;
    margin-top: -80px;
    color: #000000;

}
.already:hover
{
    color: #0000ff;
}

/* The scroll up button */

.top-to-btm{
    position: relative;
}
.icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.icon-style{
    background-color: #f50c0c;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.icon-style:hover{
    animation: none;
    background: #000000;
}
@keyframes movebtn {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
